# ===== Python / Django (backend) =====
backend\venv\
backend\__pycache__\
backend\**\__pycache__\
*.py[cod]
backend\.env
backend/.env
backend\staticfiles\
backend\-H
backend\-d

# ===== Node / React (frontend) =====
frontend\node_modules\
frontend\dist\
frontend\.env

# ===== Общее =====
.DS_Store
*.log
.idea/
.vscode/
